/*Переменные*/
$transition: all .5s ease;
$transition-linear-background: background-image .6s linear;
$media-width-max: 991px;
$media-width-min: 992px;
/*Функции и мексины*/
@function d($px-vw, $base-vw: 1920px) {
	@return ($px-vw * 100vw) / $base-vw	
}
@function m($px-vw, $base-vw: 320px) {
	@return ($px-vw * 100vw) / $base-vw	
}
@mixin mobileonly() {
	@media (max-width : $media-width-max) {
		@content;
	}
}
/*Общие элементы*/
button:hover, button:active, button:link, button:visited, button:focus  {
	outline: none;
}
button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
	transition: $transition;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,500,600,700&display=swap&subset=cyrillic');
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: 'Roboto', sans-serif;
	max-width: 100%;
	width: 100%;
	overflow-x: hidden;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	body {
		display: block;
	}
}
img {
	height: auto;
	max-width: 100%;
}
a {
	transition: $transition;
	color: inherit;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		color: inherit;
		opacity: 0.7;
	}
}
.setline a {
	transition: $transition;
	color: inherit;
	text-decoration: none;
	background-image: linear-gradient(currentColor, currentColor);
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% d(2px);
	@include mobileonly() {
		background-size: 0% m(2px);
	}
	&:hover {
		text-decoration: none;
		background-size: 100% d(2px);
		@include mobileonly() {
			background-size: 0% m(2px);
		}
		color: inherit;
		opacity: 1;
	}
}
h1,  h2, h3, h4, h5, h6 {
	margin-bottom: 0;
}
button {
	padding: d(25px) d(40px);
	margin: d(25px) 0;
	text-transform: uppercase;
	font-size: d(16px);
	@include mobileonly() {
		padding: m(10px) m(30px);
		margin: m(15px) 0;
		font-size: m(12px);
	}
	&.dark {
		background: #3D3C42;
		color: #fff;
	}
}
/*header*/
/*body.admin-bar header {
	margin-top: 32px;
	@media screen and (max-width: 783px) {
		margin-top: 46px;
	}
}*/
header {
	background-image: url(../images/bg.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	font-family: Roboto Slab;
	.bg-dot {
		background: url(../images/dot-texture.svg);
		background-size: 3px;
	}
	.header-content  {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background: linear-gradient(180deg, rgba(2, 5, 21, 0.67) 0%, rgba(2, 5, 21, 0.4375) 61.73%, rgba(2, 5, 21, 0) 158.04%);
		color: white;
		padding: d(100px);
		@include mobileonly() {
			min-height: m(568px);
			padding: m(60px) m(30px) m(60px) m(30px);
		}
		.logo {
			width: d(638px);
			height: d(80px);
			@include mobileonly() {
				width: 100%;
				height: auto;
			}
		}
		.description {
			font-size: d(28px);
			width: d(950px);
			font-weight: 500;
			text-transform:  uppercase;
			padding: d(40px) 0;
			@include mobileonly() {
				font-size: m(10px);
				width: 100%;
				padding: m(20px) 0;
			}
		}
		.header-block-2 {
			width: 100%;
			justify-content: space-between;
			display: flex;
			@include mobileonly() {
				width: 100%;
				display: grid;
				grid-template-columns: m(120px) m(120px);
				grid-column-gap: m(10px);
			}
			.languages {
				padding: d(20px) 0;
				font-size: d(14px);
				margin: 0 d(-10px);
				text-transform: uppercase;
				a {
					opacity: .75;
					&.active {
						opacity: 1;
					}
				}
				@include mobileonly() {
					padding: m(20px) 0 0 0;
					font-size: m(14px);
					margin: 0 m(-10px);
					span {
						display: none;
					}
				}
				a {
					padding: 0 d(10px);
					@include mobileonly() {
						padding: 0 m(10px);
					}
				}
			}
			&>.left {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				@include mobileonly() {
					flex-direction: column-reverse;
				}
			}
			&>.right {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				@include mobileonly() {
					width: 100%;
				}
				.tel {
					font-size: d(34px);
					margin-bottom: d(10px);
					text-align: center;
					@include mobileonly() {
						text-align: right;
						font-size: m(16px);
						margin-bottom: 0;
					}
				}
				.bino {
					font-size: d(16px);
					@include mobileonly() {
						font-size: m(11px)
					}
				}
				.bottom {
					display: flex;
					justify-content: space-between;
					margin: 0 d(-5px);
					@include mobileonly() {
						margin: 0;
						flex-direction: column;
					}
					&>div {
						display: flex;
						justify-content: center;
						align-items: center;
						padding: 0 d(5px);
						@include mobileonly() {
							justify-content: flex-end;
							align-items: flex-end;
						}
					}
					.social {
						margin: 0 d(-5px);
						@include mobileonly() {
							margin: m(15px) 0 0 0;
						}
						a {
							line-height: 0;
						}
						img {
							width: auto;
							height: d(27px);
							margin: 0 d(5px);
							@include mobileonly() {
								height: m(27px);
								margin: 0 m(5px);
							}
						}
					}
				}
			}
		}
		.menu-header {
			font-size: d(28px);
			text-transform: uppercase;
			line-height: 1.3;
			@include mobileonly() {
				font-size: m(14px);
			}
			.current-menu-item {
				font-weight: 800;
			}
			ul {
				margin: 0 d(-10px);
				padding: 0;
				@include mobileonly() {
					margin: 0 m(-10px);
				}
				li {
					padding: 0 d(10px);
					list-style: none;
					display: inline;
					@include mobileonly() {
						display: block;
						padding: m(5px) m(10px);
					}
				}
			}
		}
	}
}
// Paralax bg
.parallax-background, .parallax-shadow {
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: auto 120vh;
    transform: translate3d(0,0,0);
}
// Section - Awards
section.awards {
	.owl-awards {
		padding: d(60px) d(75px);
		background:  #969599;
		@include mobileonly() {
			padding: m(9px) m(26px);
		}
		.owl-item {
			transition: $transition;
			opacity: 0;
			&.active {
				opacity: 1;
			}
		}
		.owl-stage {
			padding: d(30px) 0;
			@include mobileonly() {
				padding: m(15px) 0;
			}
		}
		.item {
			padding: 0 d(15px);
			@include mobileonly() {
				padding: 0 m(2px);
			}
			img {
				width: 100%;
				transition: $transition;
				background: #fff;
				&:hover{
					margin-top: d(-15px);
					box-shadow: 0px d(10px) d(15px) rgba(0, 0, 0, 0.25);
					@include mobileonly() {
						margin-top: m(-5px);
						box-shadow: 0px m(1px) m(4px) rgba(0, 0, 0, 0.25);
					}
				}
			}
		}
		.owl-nav {
			button {
				width: d(50px);
				height: d(86px);
				background-image: url(../images/arrow.svg);
				background-repeat: no-repeat;
				background-size: cover;
				position: absolute;
				top: 50%;
				margin-top: d(-43px);
				left: 0;
				@include mobileonly() {
					width: m(20px);
					height: m(36px);
					margin-top: m(-18px);
				}
				&.owl-prev {
					transform: scale(-1, 1);
				}
				&.owl-next {
					left: auto;
					right: 0;
				}
			}
		}
	}
}
//projects - residentials
section.projects {
	display: flex;
	flex-wrap: wrap;
	.left {
		width: 53%;
		background-color: #3D3C42;
		background-image: url(../images/bg-lines.png), url(../images/bg-lines.png);
		background-repeat: repeat-y;
		background-position: 5.7% 0, 95% 0;
		background-size: d(90px) 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: d(30px) 0;
		@include mobileonly() {
			background-image: url(../images/bg-lines-h.png);
			background-repeat: repeat-x;
			background-position: left top;
			background-size: 10%;
			padding: m(10px) 0 0 0;
		}
		img {
			width: d(615px);
			@include mobileonly() {
				width: 100%;
			}
		}
		&:first-of-type {
			padding: d(60px) 0 d(30px) 0;
			@include mobileonly() {
				padding: m(10px) 0 0 0;
			}
		}
		&:nth-last-of-type(2) {
			padding: d(30px) 0 d(60px) 0;
			@include mobileonly() {
				padding: m(10px) 0 0 0;
			}
		}
		@include mobileonly() {
			width: 100%;
		}
	}
	.right {
		width: 47%;
		padding: d(125px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		@include mobileonly() {
			padding: m(30px);
			width: 100%;
		}
		.block {
			padding-left: d(100px);
			@include mobileonly() {
				padding-left: m(15px);
			}
			ul {
				margin: 0;
				padding: 0;
				li {
					list-style: none;
					font-size: d(21px);
					line-height: d(42px);
					text-transform: uppercase;
					font-weight: 500;
					font-family: Roboto Slab;
					@include mobileonly() {
						font-size: m(12px);
						line-height: m(21px);
					}
				}
			}	
			.title {
				font-family: 'Roboto', sans-serif;
				position: relative;
				text-transform: uppercase;
				font-size: d(42px);
				line-height: d(42px);
				margin-bottom: d(50px);
				@include mobileonly() {
					font-size: m(21px);
					line-height: m(15px);
					margin-bottom: m(15px);
				}
				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					width: d(35px);
					height: d(35px);
					background: #3D3C42;
					margin-left: d(-100px);
					transform: rotate(45deg);
					@include mobileonly() {
						width: m(15px);
						height: m(15px);
						margin-left: m(-30px);
					}
				}
			}
		}
	}
}